html{
  background-image: linear-gradient(to left top, #172777, #123c8d, #0a52a1, #0567b5, #0b7dc8, #0b7dc8, #0b7dc8, #0b7dc8, #0567b5, #0a52a1, #123c8d, #172777) !important;
  font-size: 1.2rem !important;
}
.login-page{
  background-image: radial-gradient(circle, #01a7e5, #008bd4, #006ec1, #0052aa, #1d3490);
}
.login-box{
  padding-top: 0;
  margin-top: 0;
  height: 100vh; 
  overflow: hidden;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-box-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 1rem;
   justify-content: center;
  align-content: center 
}
.login-logo a{
  font-size: 2.5rem;
}
.login-box-msg{
  font-size: 1.2rem;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center 
}
input{
  border: 1px solid #ccc;
  border-radius: .5rem !important;
}
button{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 1rem !important;
background-image: radial-gradient(circle, #1d3490, #0052aa, #006ec1, #008bd4, #01a7e5) !important;
}
button:hover{
  background-image: radial-gradient(circle, #1d3490, #0052aa, #006ec1, #008bd4, #01a7e5) !important;
  transition: 15s !important;
}
button{
  
}
.form-group{
  width: auto !important;
}
input:focus { 
  background-image: yellow !important;
  width: 110%;
}