#app{
  background-color:  #1d54ae !important;
}
.skin-yellow .main-header .navbar, .skin-yellow .main-header li.user-header {
  background-image: radial-gradient(circle, #01a7e5, #008bd4, #006ec1, #0052aa, #1d3490);
}
.skin-yellow .main-header .logo{
  background-image: linear-gradient(to right, #0c51aa, #114aa4, #16439d, #1a3b97, #1d3490);
}
.sidebar-toggle:hover{
  background-color: #0052aa !important;
}
@media (max-width: 767px) {
  .skin-yellow .main-header .logo{
    background-image: radial-gradient(circle, #01a7e5, #008bd4, #006ec1, #0052aa, #1d3490);
  }
}
